@model IEnumerable<ChairLightining.BeerList.Models.BeerListViewModel>
    ViewData["Title"] = "Beer List";
}

<div class="text-center">
    <h1 class="display-4">Rotating Beer List</h1>
    <p><a>See all our rotating Draft and Canned selections</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeerStyle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brewery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ibu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeerStyle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brewery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ibu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

        </tr>
        }
    </tbody>
</table>

<div>
    <h2>Draft</h2>
    <div>
        <h4>India Pale Ale</h4>
        <table style="width:100%;">
            <tr>
                <th>Name</th>
                <th>Brewery</th>
                <th>ABV</th>
                <th>IBU</th>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
    </div>

    <div>
        <h4>New England India Pale Ale</h4>
        <table style="width:100%;">
            <tr>
                <th>Name</th>
                <th>Brewery</th>
                <th>ABV</th>
                <th>IBU</th>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
    </div>

    <div>
        <h4>Pale Ale</h4>
        <table style="width:100%;">
            <tr>
                <th>Name</th>
                <th>Brewery</th>
                <th>ABV</th>
                <th>IBU</th>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
    </div>

    <div>
        <h4>Sour</h4>
        <table style="width:100%;">
            <tr>
                <th>Name</th>
                <th>Brewery</th>
                <th>ABV</th>
                <th>IBU</th>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
    </div>

    <div>
        <h4>Lager</h4>
        <table style="width:100%;">
            <tr>
                <th>Name</th>
                <th>Brewery</th>
                <th>ABV</th>
                <th>IBU</th>
            </tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        </table>
    </div>

</div>
